.ssh/
dist/
tmp/
out-tsc/
build/
.nyc_output/

node_modules/

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

.sass-cache/
connect.lock/
coverage/
typings/
docs/

debug*
*.txt
*.js
*.d.ts
*.js.map
*.pid
*.log
.DS_Store
Thumbs.db
*.swp

package-lock.json
stats.json
benchmark-result/*
