.gitignore
.travis.yml
.dockerignore

.ssh/
dist/
tmp/
out-tsc/
build/
.nyc_output/

node_modules/

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

.sass-cache/
connect.lock/
coverage/
typings/
docs/

debug*
*.pid
*.log
.DS_Store
Thumbs.db

benchmark-result/*
